@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

a.active {
  border: 2px solid black;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  background-color: black;
  color: white
}
